$fb-Ebony:#030407;
$fb-b1:#111418;
$fb-Shark:#24262D;
$fb-Bright-Gray:#3E404C;
$fb-Shuttle-Gray:#606476;
$fb-Manatee:#84889A;
$fb-Mischka:#D6D7E0;
$fb-Athens-Gray:#EBEBEF;
$fb-Athens-Gray:#F9F9FB;
$fb-Nero:#FFFFFF;

$fb-purp:#28257E;
$fb-purp-l:#3935B6;
$fb-Royal-Blue:#443FDE;
$fb-purp-ll:#9D9AEA;
$fb-purp-ff:#D3D2F4;
$fb-Link-Water:#F3F3FC;

$fb-red-b:#872522;
$fb-red-bl:#BC362F;
$fb-red:#E9423A;
$fb-red-l:#F19E9D;
$fb-red-ll:#F8D4D3;
$fb-red-w:#FDF2F2;

$fb-yell-b:#8C612B;
$fb-Tussock:#C98B40;
$fb-yellow:#F6A94C;
$fb-yello-l:#F9C99F;
$fb-yello-ll:#FCE5D4;
$fb-Seashell:#FEF7F1;

$fb-Green-Pea:#246B49;
$fb-green:#339968;
$fb-green-l:#3EBB7F;
$fb-green-ll:#9CD3B4;
$fb-green-wl:#D2E9DC;
$fb-Harp:#F1F8F4;

$bg-color:#fff;